# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
backend/venv/

# macOS
.DS_Store

# Node
vrite/node_modules/
vrite/.next/
.vscode/

# Environment variables and secrets
.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*
*.key
*.pem
*.p12
secrets/
*.secret
